<div class="slim-navbar">

    <div class="container">

        <ul class="nav">

            <app-header-toolbar-item title="Dashboard" path="/dashboard"></app-header-toolbar-item>
            <app-header-toolbar-item title="Cakes" path="/cakes"></app-header-toolbar-item>

            <li class="nav-item with-sub">

                <a class="nav-link" href="#" data-toggle="dropdown">

                    <i class="icon ion-ios-gear-outline"></i>
                    <span>Settings</span>

                </a>

                <div class="sub-item">

                    <ul>

                        <li>
                            <a href="form-elements.html">Users</a>
                        </li>

                    </ul>

                </div>

            </li>

            <!--<app-header-toolbar-item title="Dashboard" path="/dashboard"></app-header-toolbar-item>-->

        </ul>

    </div>
    <!-- container -->
</div>
